<<<<<<< HEAD
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Spartan", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .login-container {
    position: relative;
    width: 80%;
    height: 100%;
    background-image: url("../images/dark-sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    color: #fff;
    font-weight: 300;
    margin-left: 10%;
    margin-top: 150px;
    margin-bottom: 30px;
  }
  
  .login-container > div:first-child {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0 70px;
  }
  
  .register > div:first-child {
    font-size: 32px;
    max-width: 300px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  
  .register > p {
    font-size: 14px;
    line-height: 1.4;
    color: #c1d8c3;
    margin-bottom: 24px;
  }
  
  .register .social {
    margin-left: -20px;
  }
  
  .register .social a {
    margin-left: 20px;
  }
  
  .register .social i {
    color: #fff;
    font-size: 15px;
  }
  
  .register .social a:hover i {
    color: #cd5c08;
  }
  
  .form-login {
    width: 55%;
    max-width: 53%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(54, 52, 52, 0.2);
    padding: 50px 30px;
  }
  
  .form-login .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }
  
  .form-login .form-group.f-term {
    flex-direction: row !important;
    align-items: center;
  }
  
  .f-term label {
    margin-top: 10px;
    margin-left: 7px;
  }
  
  .f-term label a {
    margin-left: 2px;
    color: #cd5c08;
    font-size: 15px;
    text-decoration: none;
  }
  
  .f-term label a:hover {
    color: red;
  }
  
  .form-login .form .form-group input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(159, 171, 175, 0.534);
    margin-top: 10px;
    color: #fff;
    font-size: 17px;
  }
  
  .form-login .form .form-group input::placeholder {
    color: rgba(255, 255, 255, 0.658);
    opacity: 1;
  }
  
  .form-login .form .form-label {
    color: rgba(255, 255, 255, 0.658);
    font-size: 13px;
  }
  
  .form-login .form .heading {
    font-size: 30px;
    margin-top: 7px;
  }
  
  .form-login .form .sign-up {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }
  
  .form-login .form .sign-up .dangnhap {
    background-color: #cd5c08;
    width: 160px;
    height: 35px;
    border: none;
    outline: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-weight: bold;
  }
  
  .form-login .form .sign-up .dangnhap a {
    text-decoration: none;
    color: rgb(190, 189, 187);
    margin-left: 15px;
  }
  
  .form-login .form .sign-up .dangnhap:hover {
    cursor: pointer;
    opacity: 0.97;
  }
  
  .sign-up .dangki a {
    margin-left: 35px;
    color: rgb(190, 189, 187);
    font-size: 14px;
  }
  
  .sign-up .dangki a:hover {
    color: red;
  }
  
  /* Button */
  .login-button {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 10px;
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    width: 190px;
  }
  
  .form-icon > p {
    font-size: 16px;
    color: rgb(197, 202, 206);
    margin-top: 40px;
    margin-left: 130px;
  }
  
  .button_icon {
    display: flex;
  }
  
  .google-login {
    background-color: #cd5c08;
    display: flex;
    align-items: center;
  }
  
  .facebook-login {
    background-color: #3b5998;
    display: flex;
    align-items: center;
  }
  
  .google-login i,
  .facebook-login i {
    margin-right: 10px;
    font-size: 15px;
  }
  
  .login-button:hover {
    opacity: 0.8;
  }
=======
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Spartan", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .login-container {
    position: relative;
    width: 80%;
    height: 100%;
    background-image: url("../images/dark-sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    color: #fff;
    font-weight: 300;
    margin-left: 10%;
    margin-top: 150px;
    margin-bottom: 30px;
  }
  
  .login-container > div:first-child {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0 70px;
  }
  
  .register > div:first-child {
    font-size: 32px;
    max-width: 300px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  
  .register > p {
    font-size: 14px;
    line-height: 1.4;
    color: #c1d8c3;
    margin-bottom: 24px;
  }
  
  .register .social {
    margin-left: -20px;
  }
  
  .register .social a {
    margin-left: 20px;
  }
  
  .register .social i {
    color: #fff;
    font-size: 15px;
  }
  
  .register .social a:hover i {
    color: #cd5c08;
  }
  
  .form-login {
    width: 55%;
    max-width: 53%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(54, 52, 52, 0.2);
    padding: 50px 30px;
  }
  
  .form-login .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }
  
  .form-login .form-group.f-term {
    flex-direction: row !important;
    align-items: center;
  }
  
  .f-term label {
    margin-top: 10px;
    margin-left: 7px;
  }
  
  .f-term label a {
    margin-left: 2px;
    color: #cd5c08;
    font-size: 15px;
    text-decoration: none;
  }
  
  .f-term label a:hover {
    color: red;
  }
  
  .form-login .form .form-group input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(159, 171, 175, 0.534);
    margin-top: 10px;
    color: #fff;
    font-size: 17px;
  }
  
  .form-login .form .form-group input::placeholder {
    color: rgba(255, 255, 255, 0.658);
    opacity: 1;
  }
  
  .form-login .form .form-label {
    color: rgba(255, 255, 255, 0.658);
    font-size: 13px;
  }
  
  .form-login .form .heading {
    font-size: 30px;
    margin-top: 7px;
  }
  
  .form-login .form .sign-up {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }
  
  .form-login .form .sign-up .dangnhap {
    background-color: #cd5c08;
    width: 160px;
    height: 35px;
    border: none;
    outline: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-weight: bold;
  }
  
  .form-login .form .sign-up .dangnhap a {
    text-decoration: none;
    color: rgb(190, 189, 187);
    margin-left: 15px;
  }
  
  .form-login .form .sign-up .dangnhap:hover {
    cursor: pointer;
    opacity: 0.97;
  }
  
  .sign-up .dangki a {
    margin-left: 35px;
    color: rgb(190, 189, 187);
    font-size: 14px;
  }
  
  .sign-up .dangki a:hover {
    color: red;
  }
  
  /* Button */
  .login-button {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 10px;
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    width: 190px;
  }
  
  .form-icon > p {
    font-size: 16px;
    color: rgb(197, 202, 206);
    margin-top: 40px;
    margin-left: 130px;
  }
  
  .button_icon {
    display: flex;
  }
  
  .google-login {
    background-color: #cd5c08;
    display: flex;
    align-items: center;
  }
  
  .facebook-login {
    background-color: #3b5998;
    display: flex;
    align-items: center;
  }
  
  .google-login i,
  .facebook-login i {
    margin-right: 10px;
    font-size: 15px;
  }
  
  .login-button:hover {
    opacity: 0.8;
  }
>>>>>>> feeb68272a3dcb93422c5cdbdb230fb7d11fdf64
  